@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.App {
    -webkit-font-smoothing: antialiased;
    
    height: 100% !important;
    display: flex;
    flex-wrap: wrap;
}